{% extends "main_page_base.html" %}


{% block javascript %}


//Validates an email	
function validate_email(email) {
 
   var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
   if(reg.test(email) == false) {
      return false;
   }
   return true;
}	


	function disable_all_buttons() {
		$('#mudar').attr("disabled", true);
	}
	
	function enable_all_buttons() {
		$('#mudar').attr("disabled", false);
	}


	function success(message) {
	
		$('#mensagem').html('<div class="alert alert-success"><button class="close" data-dismiss="alert">x</button><strong>Sucesso: </strong>'+ message +'</div>');
     
	}
	
	function error(message) {
	
		$('#mensagem').html('<div class="alert alert-error"><button class="close" data-dismiss="alert">x</button><strong>Erro: </strong>'+ message +'</div>');
     
	}
	
	
function mudar_password() {

	var password_1 = document.getElementById("nova_password_1").value;
	var password_2 = document.getElementById("nova_password_2").value;
	
	var password = document.getElementById("password").value;

	if (password == ""){
		error("Campos n&atilde;o preechidos");
		return;
	}
	
	if (password_1 == ""){
		error("Campos n&atilde;o preechidos");
		return;
	}
	
	if (password_2 == ""){
		error("Campos n&atilde;o preechidos");
		return;
	}
	
	if (password_1 != password_2){
		error("As passwords n&atilde;o s&atilde;o iguais.");
		return;
	}

	disable_all_buttons();
	$.post("/main_page_change_password",
	{ password: password , password_1: password_1 , password_2: password_2},
	function(data) {
		enable_all_buttons();
	
		//Sucesso
		if (data == "Success"){
			success('Password alterada com sucesso');
			//$('#mensagem').html('<p></p><span id="erros" class="label label-success">Password alterada com sucesso</span>')
			return;
		}
		
		//Erro
			error(data);
			//$('#mensagem').html('<p></p><span id="erros" class="label label-important">' + data + '</span>')
		
		});


}


{% endblock %}	


{% block mudar_password_active %}
	<li class="active"><a href="change_password">Mudar password</a></li>
{% endblock %}


{% block main_page_body %}
<div class="span6">

	<h3> Aqui pode alterar a sua password </h3>
	<p></p>

	<table class="table">        
        <tbody>
		<tr>
            <td> Password Actual: </td>
            <td><input name="password1" class="input-medium search-query" id="password" type="password" placeholder="Password Actual"></td>    
        </tr>	
		<tr>
			<td> Nova Password:  </td>
			<td> <input name="nova_password" class="input-medium search-query" id="nova_password_1" type="password" placeholder="Nova Password"> </td>
		</tr>
		<tr>
			<td> Nova Password:  </td>
			<td> <input name="nova_password2" class="input-medium search-query" id="nova_password_2" type="password" placeholder="Nova Password"> </td>
		</tr>
		<tr>
			<td> <button onclick="mudar_password()" id="mudar" class="btn btn-primary">Submeter</button> </td>
			<td> <div id="mensagem"></div> </td>
		</tr>
	    </tbody>
    </table>	
		
</div>
{% endblock %}	

	