{% extends "main_base.html" %}


	{% block body %}
	
	<div class="span8">
	
	<p><h2> FAQ: </h2></p>
		
	<h3> Em que consiste este site ? </h3>

	Este site consiste na venda de cartas Magic The Gathering de forma aleat&oacute;ria, voc&ecirc; escolhe a raridade que quer, todas as cartas que saem aleatoriamente voc&ecirc; fica com elas, caso n&atilde;o as queira, devolve ao site novamente.

	<p></p>
	
	<h3> Ent&atilde;o mas como funciona isso de devolver as cartas ?</h3>

	&Eacute; um sistema simples, voc&ecirc; compra cartas aleatoriamente, as cartas que v&atilde;o saindo ficam gravadas no sistema antes de finalizar a compra, as que n&atilde;o quiser clica em vender e nos pagamos metade do valor random a que lhe ficou, a carta volta para o nosso sistema e atribu&iacute;mos metade do valor no seu credito.

	<p></p>

	<h3> Como eu sei se me v&atilde;o sair boas cartas ?</h3>

	Bem, isso &eacute; dif&iacute;cil de prever, nos temos nas condi&ccedil;&otilde;es de utiliza&ccedil;&atilde;o as probabilidades, mas a quest&atilde;o &eacute; que fazemos nas cartas o valor como se fosse de Packs, a diferen&ccedil;a de um Pack normal e que temos tudo dispon&iacute;vel a sair, assim uma coisa o cliente tem a certeza, o valor que paga mesmo pela pior carta &eacute; sempre muito abaixo do valor comercial em lojas.

	<p></p>

	<h3> J&aacute; criei a minha conta, e agora como fa&ccedil;o ?</h3>

	Agora &eacute; simples, vai a carregar conta com cr&eacute;ditos, escolhe o valor de cr&eacute;ditos que quer, cada credito custa 0.01 e a seguir e s&oacute; come&ccedil;ar. Temos v&aacute;rios m&eacute;todos de pagamento.

	<p></p>

	<h3> N&atilde;o tenho forma de usar nenhum m&eacute;todo de pagamento, como fa&ccedil;o ?</h3>

	N&oacute;s somos flex&iacute;veis nos m&eacute;todos de pagamento, basta entrar em contacto. Mas mesmo assim desenvolvemos um sistema de transfer&ecirc;ncia de cr&eacute;ditos entre utilizadores, se um amigo seu tiver cr&eacute;ditos e quiser transferir para si pode faze-lo com um custo de 8 cr&eacute;ditos (0.08 &euro; ) pelo servi&ccedil;o de transfer&ecirc;ncia, esse valor vai ser descontado no credito de quem envia.

	<p></p>

	<h3> J&aacute; tenho cr&eacute;ditos e escolhi as minhas cartas, como fa&ccedil;o para as receber agora ?</h3>

	Agora s&oacute; tem de fechar a encomenda, reveja antes se n&atilde;o quer vender nenhuma carta ao site, automaticamente descontamos o valor dos custos de envio, neste caso se for correio azul tenha em aten&ccedil;ao que tem de deixar 100 cr&eacute;ditos dispon&iacute;veis para podermos descontar e num prazo de 3 dias tem as suas cartas em casa.

	<p></p>
	
	<h3> Queria carregar a minha conta mas queria receber logo os cr&eacute;ditos , &eacute; poss&iacute;vel ?</h3>

	Sim, e poss&iacute;vel se fizer atrav&eacute;s de paypal ou cart&atilde;o de credito fica logo dispon&iacute;vel, pagamento de servi&ccedil;os tem um delay de 10 minutos, mas se enviar de imediato o comprovativo de transfer&ecirc;ncia activamos logo os seus cr&eacute;ditos. As transfer&ecirc;ncias entre utilizadores s&atilde;o imediatas.

	<p></p>

	<h3> Existe alguma promo&ccedil;&atilde;o ou bonus neste site ?</h3>

	Existe sim, mas como tudo aqui &eacute; uma surpresa, come&ccedil;ar a 'jogar' e a melhor forma de descobrir. Temos v&aacute;rios bonus secretos pelo meio. As promo&ccedil;&otilde;es essas s&atilde;o sempre divulgadas previamente.

	<p></p>

	<h3> Tenho problemas com a sa&iacute;da ou entrada do cr&eacute;dito , o que fazer ?</h3>
	
	Contacte de imediato info@mtgchance.com , dentro de 2h teremos todas as suas quest&otilde;es resolvidas.
		
	</div>

{% endblock %}	

