{% extends "main_base.html" %}


	{% block body %}
	
	<div class="span8">

	<br></br>
	
	<h2> Informa&ccedil;&atilde;o do site:</h2>

	<br></br>


	<h3> Condi&ccedil;&otilde;es de utiliza&ccedil;&atilde;o : </h3> 

	<p></p>

	<h3> O Registo: </h3> 

	O registo em <i>MTGChance.com</i> &eacute; gratuito e sempre ser&aacute;. Quando efetua o registo, ser-lhe-&aacute; pedido o seu nome (verdadeiro), morada, pa&iacute;s, endere&ccedil;o de e-mail e n&uacute;mero de telefone. A informa&ccedil;&atilde;o ir&aacute; apenas ser usada para o contatarmos e enviarmos as suas cartas, por isso certifique-se de que nos d&aacute; informa&ccedil;&otilde;es corretas. Nenhuma informa&ccedil;&atilde;o pessoal ser&aacute; vendida ou cedida a terceiros. Ao registar-se emMTGChance.com, est&aacute; a concordar com toda a informa&ccedil;&atilde;o em baixo.
	<p></p>

	<h3> Comprar no <i>MTGChance.com</i>: </h3> 
	
	Neste site, ir&aacute; encontrar cartas <i>Magic the Gathering<i> n&atilde;o-foil desde 4th Edition at&eacute; &agrave; &uacute;ltima edi&ccedil;&atilde;o existente. Em altura alguma podem sair cartas FOIL ou PROMOCIONAIS, visto n&atilde;o estarem inclu&iacute;das no nosso stock. 
	Ap&oacute;s efetuar o registo, vai poder aceder ao seu painel de controlo de cliente, onde pode alterar a sua informa&ccedil;&atilde;o pessoal, ver o hist&oacute;rico de cartas que j&aacute; ganhou e carregar os seus cr&eacute;ditos. 
	Dependendo do m&eacute;todo de pagamento utilizado, os cr&eacute;ditos podem ficar na conta instantaneamente (podendo, por&eacute;m, haver um delay de at&eacute; 10 minutos). 
	Se optar por um processo mais demorado, tal como transfer&ecirc;ncia banc&aacute;ria ou vale postal, basta enviar um comprovativo para que possamos ativar os seus cr&eacute;ditos em at&eacute; 5 horas ap&oacute;s termos recebido o seu e-mail. 
	Ap&oacute;s ter cr&eacute;ditos na sua conta, pode comprar conforme a raridade. Quando achar que as cartas que tem no seu hist&oacute;rico s&atilde;o aquelas com que quer ficar, basta fechar a encomenda e o valor dos custos de envio ser-lhe-&aacute; descontado.

	<p></p>

	<h3> Envio das Encomendas: </h3> 

	O prazo m&eacute;dio para receber as cartas em sua casa ser&aacute; de 3 dias &uacute;teis ap&oacute;s ter finalizado a sua encomenda. Se viver fora da Uni&atilde;o Europeia, a encomenda demorar&aacute; cerca de 5 dias &uacute;teis a chegar &agrave; alf&acirc;ndega do seu pa&iacute;s. A partir da&iacute;, depende da rapidez do servi&ccedil;o que a respetiva alf&acirc;ndega presta (geralmente leva mais 7 dias, mas varia). Assim, se viver fora da Uni&atilde;o Europeia, tome nota de que n&atilde;o assumimos a responsabilidade pelos impostos ou taxas aduaneiras que lhe poder&atilde;o ser cobradas.

	<p></p>

	<h3> Op&ccedil;&otilde;es de Pagamento: </h3> 

	Dispon&iacute;vel para todo o Mundo: Neste momento s&oacute; aceitamos pagamentos atrav&eacute;s do paypal ou Cart&atilde;o de Cr&eacute;dito: payments@mtgchance.com - <a href="www.paypal.com">www.paypal.com</a>.
	Se vive em Portugal, tamb&eacute;m pode optar por Transfer&ecirc;ncia Banc&aacute;ria, Vale Postal ou Pagamento de Servi&ccedil;os. 
	Se precisar de um m&eacute;todo de pagamento diferente, entre em contacto connosco por e-mail, explicando a sua situa&ccedil;&atilde;o.

	<p></p>

	<h3> Politica de Reembolso e Troca: </h3> 

	Qualquer devolu&ccedil;&atilde;o &eacute; v&aacute;lida por um prazo de 15 dias &uacute;teis, caso a l&iacute;ngua da carta n&atilde;o seja o Ingl&ecirc;s ou o Portugu&ecirc;s, ou se o estado da carta n&atilde;o for NEAR MINT. 
	A devolu&ccedil;&atilde;o poder&aacute; ser total ou parcial. Os cr&eacute;ditos s&atilde;o devolvidos a qualquer momento se nunca tiverem sido utilizados pelo cliente na respetiva sess&atilde;o. 
	Se for detetada uma situ&ccedil;&atilde;o de roubo de conta, o utilizador deve, de imediato, enviar um e-mail para abusos@mtgchance.com, a comunicar o sucedido de forma a que possamos resolver a situa&ccedil;&atilde;o da forma mais r&aacute;pida poss&iacute;vel. 
	No caso de troca das cartas, todas as sess&otilde;es ficam gravadas no nosso sistema. 
	Assim, caso o cliente nos envie cartas que n&atilde;o estejam listadas, mas que lhe sa&iacute;ram no nosso sistema, as mesmas ser&atilde;o devolvidas e o valor dos custos de envio ser&aacute; descontado na conta do utilizador. 
	Caso n&atilde;o exista saldo suficiente, o mesmo ficar&aacute; negativo at&eacute; novo carregamento.
	O <i>MTGChance.com</i> assume o valor dos custos de envio do cliente em caso de devolu&ccedil;&atilde;o, sendo creditado o valor em causa na sua conta (do site) ou transferido atrav&eacute;s de transfer&ecirc;ncia banc&aacute;ria ou Paypal, se este tiver sido o m&eacute;todo escolhido.


	<p></p>

	<h3> Condi&ccedil;&otilde;es Gerais: </h3> 

	O carregamento m&iacute;nimo no <i>MTGchance.com</i> &eacute; de 500 cr&eacute;ditos.
	Quando detetadas fraudes no sistema de transfer&ecirc;ncia de saldo entre utilizadores, ambas as contas ficam suspensas at&eacute; que a situa&ccedil;&atilde;o fique resolvida. 
	Ap&oacute;s a requisi&ccedil;&atilde;o das cartas, s&oacute; ser&aacute; v&aacute;lido o cancelamento mediante anomalia do sistema. O valor dos custos de envio &eacute; descontado nos cr&eacute;ditos do utilizador. 
	
	Quando clica em comprar, a decis&atilde;o &eacute; irrevers&iacute;vel a menos que seja detetada anomalia no sistema.


	<p></p>
	
	
	<h3> Imagens das cartas: </h3> 
	
	Uma vez que o <i>MTGChance</i> vai buscar as suas imagens ao site da Wizards of the Coast &trade; que apresenta sempre a imagem mais recente (por edi&ccedil;&atilde;o) da carta. &Eacute; poss&iacute;vel que a imagem n&atilde;o seja a correcta. 
	Tenha sempre em aten&ccedil;&atilde;o &agrave; edi&ccedil;&atilde;o indicada abaixo da imagem, pois essa &eacute; a correcta. A carta &eacute; a mesma para o cliente apenas pode ser de uma edi&ccedil;&atilde;o diferente.
	
	
	<p></p>
	
	
	<h3>O Registo:</h3>

	O registo em MTGChance.com &eacute; gratuito e sempre ser&aacute;. Quando efetua o registo, ser-
	lhe-&aacute; pedido o seu nome (verdadeiro), morada, pa&iacute;s, endere&ccedil;o de e-mail e n&uacute;mero de
	telefone. A informa&ccedil;&atilde;o ir&aacute; apenas ser usada para o contatarmos e enviarmos as suas
	cartas, por isso certifique-se de que nos d&aacute; informa&ccedil;&otilde;es corretas. Nenhuma informa&ccedil;&atilde;o
	pessoal ser&aacute; vendida ou cedida a terceiros. Ao criar conta emMTGChance.com, est&aacute; a
	concordar com toda a informa&ccedil;&atilde;o em baixo.

	<p></p>
	
	<h3>Comprar no MTGChance.com em formato RANDOM</h3>

	Neste site, ir&aacute; encontrar cartas Magic the Gathering n&atilde;o-foil desde 4th Edition
	at&eacute; &agrave; &uacute;ltima edi&ccedil;&atilde;o existente. Em altura alguma podem sair cartas FOIL ou
	PROMOCIONAIS, visto n&atilde;o estarem inclu&iacute;das no nosso stock. Ap&oacute;s efetuar o registo,
	vai poder aceder ao seu painel de controlo de cliente, ver o hist&oacute;rico de cartas que j&aacute;
	ganhou e carregar os seus cr&eacute;ditos. Dependendo do m&eacute;todo de pagamento utilizado,
	os cr&eacute;ditos podem ficar na conta instantaneamente (podendo, por&eacute;m, haver um delay
	de at&eacute; 10 minutos). Se optar por um processo mais demorado, tal como transfer&ecirc;ncia
	banc&aacute;ria ou vale postal, basta enviar um comprovativo para que possamos ativar os
	seus cr&eacute;ditos em at&eacute; 5 horas ap&oacute;s termos recebido o seu e-mail. Ap&oacute;s ter cr&eacute;ditos na
	sua conta, pode comprar conforme a raridade. Quando achar que as cartas que tem no
	seu hist&oacute;rico s&atilde;o aquelas com que quer ficar, basta fechar a encomenda e o valor dos
	custos de envio ser-lhe-&aacute; descontado.

	<p></p>
	
	<h3>Comprar no MTGChance.com em formato LOJA (STORE)</h3>

	Neste site, ir&aacute; encontrar cartas Magic the Gathering n&atilde;o-foil desde Shards Of Alara at&eacute;
	&agrave; &uacute;ltima edi&ccedil;&atilde;o existente, estando a serem adicionadas cartas constantemente. Ap&oacute;s
	efetuar o registo, vai poder aceder ao seu painel de controlo de cliente, fazer pesquisas
	na nossa loja, adicionar ao seu carrinho, ver o hist&oacute;rico de encomendas.Pode carregar
	a sua conta e pagar as encomendas na STORE com creditos ou simplesmente finalizar
	a encomenda e pagar depois.
	
	<p></p>
	
	<h3>Envio das Encomendas:</h3>
	
	O prazo m&eacute;dio para receber as cartas em sua casa ser&aacute; de 3 dias &uacute;teis ap&oacute;s ter
	finalizado a sua encomenda. Se viver fora da Uni&atilde;o Europeia, a encomenda demorar&aacute;
	cerca de 5 dias &uacute;teis a chegar &agrave; alf&acirc;ndega do seu pa&iacute;s. A partir da&iacute;, depende da
	rapidez do servi&ccedil;o que a respetiva alf&acirc;ndega presta (geralmente leva mais 7 dias, mas
	varia). Assim, se viver fora da Uni&atilde;o Europeia, tome nota de que n&atilde;o assumimos a
	responsabilidade pelos impostos ou taxas aduaneiras que lhe poder&atilde;o ser cobradas.
	
	<p></p>
	
	<h3>Op&ccedil;&otilde;es de Pagamento:</h3>
	
	Dispon&iacute;vel para todo o Mundo: Neste momento s&oacute; aceitamos pagamentos atrav&eacute;s
	do paypal ou Cart&atilde;o de Cr&eacute;dito: payments@mtgchance.com - www.paypal.com. Se
	vive em Portugal, tamb&eacute;m pode optar por Transfer&ecirc;ncia Banc&aacute;ria, Vale Postal ou
	Pagamento de Servi&ccedil;os. Se precisar de um m&eacute;todo de pagamento diferente, entre em
	contacto connosco por e-mail, explicando a sua situa&ccedil;&atilde;o.

	<p></p>
	
	<h3>Politica de Reembolso e Troca no formato RANDOM</h3>

	Qualquer devolu&ccedil;&atilde;o &eacute; v&aacute;lida por um prazo de 15 dias &uacute;teis, caso a l&iacute;ngua da carta
	n&atilde;o seja o Ingl&ecirc;s ou o Portugu&ecirc;s, ou se o estado da carta n&atilde;o for NEAR MINT. A
	devolu&ccedil;&atilde;o poder&aacute; ser total ou parcial. Os cr&eacute;ditos s&atilde;o devolvidos a qualquer momento
	se nunca tiverem sido utilizados pelo cliente na respetiva sess&atilde;o. Se for detetada
	uma situ&ccedil;&atilde;o de roubo de conta, o utilizador deve, de imediato, enviar um e-mail para
	abusos@mtgchance.com, a comunicar o sucedido de forma a que possamos resolver a
	situa&ccedil;&atilde;o da forma mais r&aacute;pida poss&iacute;vel. No caso de troca das cartas, todas as sess&otilde;es
	ficam gravadas no nosso sistema. Assim, caso o cliente nos envie cartas que n&atilde;o
	estejam listadas, mas que lhe sa&iacute;ram no nosso sistema, as mesmas ser&atilde;o devolvidas e
	o valor dos custos de envio ser&aacute; descontado na conta do utilizador. Caso n&atilde;o exista
	saldo suficiente, o mesmo ficar&aacute; negativo at&eacute; novo carregamento. O MTGChance.com
	assume o valor dos custos de envio do cliente em caso de devolu&ccedil;&atilde;o, sendo creditado o
	valor em causa na sua conta (do site) ou transferido atrav&eacute;s de transfer&ecirc;ncia banc&aacute;ria
	ou Paypal, se este tiver sido o m&eacute;todo escolhido.

	<p></p>
	
	<h3>Politica de Reembolso e Troca no formato LOJA (STORE)</h3>

	Qualquer devolu&ccedil;&atilde;o &eacute; v&aacute;lida por um prazo de 15 dias &uacute;teis, caso a l&iacute;ngua da carta n&atilde;o
	seja o Ingl&ecirc;s ou o Portugu&ecirc;s, ou se o estado da carta n&atilde;o for NEAR MINT. A devolu&ccedil;&atilde;o
	poder&aacute; ser total ou parcial. Os cr&eacute;ditos s&atilde;o devolvidos a qualquer momento se nunca
	tiverem sido utilizados pelo cliente na respetiva sess&atilde;o. O MTGChance.com assume
	o valor dos custos de envio do cliente em caso de devolu&ccedil;&atilde;o, sendo creditado o valor
	em causa na sua conta (do site) ou transferido atrav&eacute;s de transfer&ecirc;ncia banc&aacute;ria ou
	Paypal, se este tiver sido o m&eacute;todo escolhido.

	<p></p>
	
	<h3>Condi&ccedil;&otilde;es Gerais:</h3>
	
	O carregamento m&iacute;nimo no MTGchance.com &eacute; de 500 cr&eacute;ditos para o RANDOM, na
	Loja Online n&atilde;o existe carregamento minimo, o cliente pode pagar com creditos se os
	tiver ou finalizar a encomenda e pagar no fim. Quando detetadas fraudes no sistema
	de transfer&ecirc;ncia de saldo entre utilizadores, ambas as contas ficam suspensas at&eacute; que
	a situa&ccedil;&atilde;o fique resolvida. Ap&oacute;s a requisi&ccedil;&atilde;o das cartas no formato RANDOM, s&oacute; ser&aacute;
	v&aacute;lido o cancelamento mediante anomalia do sistema. O valor dos custos de envio
	&eacute; descontado nos cr&eacute;ditos do utilizador. Quando clica em comprar em RANDOM, a
	decis&atilde;o &eacute; irrevers&iacute;vel a menos que seja detetada anomalia no sistema.

	<p></p>
	
	<h3>Imagens das cartas:</h3>

	Uma vez que o MTGChance vai buscar as suas imagens ao site da Wizards of the Coast
	que apresenta sempre a imagem mais recente (por edi&ccedil;&atilde;o) da carta. &Eacute; poss&iacute;vel que
	a imagem n&atilde;o seja a correcta. Tenha sempre em aten&ccedil;&atilde;o &agrave; edi&ccedil;&atilde;o indicada abaixo da
	imagem, pois essa &eacute; a correcta. A carta &eacute; a mesma para o cliente apenas pode ser de
	uma edi&ccedil;&atilde;o diferente.
	
	</div>
	

{% endblock %}	