{% extends "main_page_base.html" %}


{% block main_page_javascript %}


//Validates an email	
function validate_email(email) {
 
   var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
   if(reg.test(email) == false) {
      return false;
   }
   return true;
}	


function mudar_password() {

	var password_1 = document.getElementById("nova_password_1").value;
	var password_2 = document.getElementById("nova_password_2").value;
	
	var password = document.getElementById("password").value;

	if (password == ""){
		$('#erros').html("Campos obrigat&oacute;rio.");
		return;
	}
	
	if (password_1 == ""){
		$('#erros').html("Campos obrigat&oacute;rio.");
		return;
	}
	
	if (password_2 == ""){
		$('#erros').html("Campos obrigat&oacute;rio.");
		return;
	}
	
	if (password_1 != password_2){
		$('#erros').html("As passwords n&atilde;o s&atilde;o iguais.");
		return;
	}

	
	$.post("/change_password", 
	{ password: password , password_1: password_1 , password_2: password_2},
	function(data) {

		//Sucesso
		if (data == "Success"){
			$('#changer').html('<p></p><span id="erros" class="label label-success">Password alterada com sucesso</span>')
			return;
		}
		
		//Erro
		$('#erros').html(data);
		
		});


}


{% main_page_javascript %}



{% block mudar_password_active %}

	<li class="active"><a href="change_password">Mudar password</a></li>

{% endblock %}



{% block main_page_body %}
<div class="span3">
	Password Actual: <input name="username" class="input-medium search-query" id="password" type="password" placeholder="Password Actual"> 
	<p></p> 
	Nova Password: <input name="username" class="input-medium search-query" id="nova_password_1" type="password" placeholder="Nova Password"> 
	<p></p> 
	Nova Password: <input name="username" class="input-medium search-query" id="nova_password_2" type="password" placeholder="Nova Password"> <p></p> <button onclick="mudar_password()" id="mudar" class="btn btn-success">Enviar</button>
	<p></p><span id="erros" class="label label-important"></span>
</div>
{% endblock %}	

	