{% extends "main_page_base.html" %}


{% block javascript %}
{% endblock %}	


{% block main_user_page_active %}

	<li class="active"><a href="main">P&aacute;gina Principal</a></li>

{% endblock %}


{% block main_page_body %}


<div class="span18">



 <div class="span8">
          <div class="row-fluid">
            <div class="span4">
			<div class="well">
	
			<h2>Comprar na Loja</h2>
			  <p>  </p>
              <p> Não necessitas de ter cr&eacute;ditos para fazeres a tua encomenda.</p>
              <p> Só pesquisar, adicionar ao carrinho e terminar a encomenda. </p>
			  <br></br>
            <p><a class="btn btn-large btn-primary" href="store">Loja &raquo;</a></p>
			
            </div>
            </div>
				
				
            <div class="span4">
			<div class="well">
              
				<h2>Comprar Random</h2>	
					<p> Compras cartas de forma aleat&oacute;ria a pre&ccedil;os reduzidos, e se n&atilde;o gostares podes sempre vender a carta de volta. </p>
					<br></br>
					<p>&#160;</p>
				<p><a class="btn btn-large btn-primary" href="main_page">Random &raquo;</a></p>
			  
            </div>
            </div>
			
			
			
            <div class="span4">
			<div class="well">
			
			<b><h2>PROMO&Ccedil;&Otilde;ES</h2></b>
			<p> Carrega 1000 cr&eacute;ditos ou mais e recebe logo 5% de b&oacute;nus.</p>
			<br></br>
			<p><a class="btn btn-large btn-primary" href="payment">Carregamentos &raquo;</a></p>
			  
            </div>
			</div>
		
          </div><!--/row-->
		  
          <div class="row-fluid">
            <div class="span4">
			
			  
            </div><!--/span-->
			
			
            <div class="span4">
			
			
			  
            </div><!--/span-->
			
			
          </div><!--/row-->
		  
		  <div class="row-fluid">
            <div class="span12">
			
			  
			  <br></br>
			  <center><h3>HOMAGE</h3></center>
			  <p></p>

<h4 align="justify">Magic the Gathering. Quando um amigo me disse estas palavras pela primeira vez, nos meus
imberbes 11 ou 12 anos de idade, os jogos de cartas eram, invariavelmente, associados
à Sueca, ao Burro ou à Lerpa. Não era ainda do meu conhecimento que podia haver algo
que transformasse um simples jogo de cartas (sem ofensa à Sueca) numa experiência tão
satisfatoriamente viciante. Era uma novidade. E como todas as novidades, tinha o seu encanto.
Havia monstros, mágicas, artefactos, todos eles representados em imagens de curiosa
criatividade e, além disso, cada jogador tinha o poder de construir a sua singular combinação
vitoriosa de cartas. Tudo muito mais dinâmico e interactivo, e infinitamente mais aliciante do
que as cartas tradicionais ou jogos de tabuleiro. Todos estes novos elementos, aliados ao facto
de não haver muito mais deste tipo de jogos, despertaram o meu interesse e entusiasmo. Hoje
há vários jogos que tentam emular o mesmo espírito, cada um prometendo novos mundos e
horas de entretenimento. Nenhum deles – parece-me – conseguirá ter o mesmo impacto.
<p></p>
O saudosismo de quem joga há algum tempo certamente fará recordar que, na altura,
uma criatura como o Leviathan – apesar de todos os seus defeitos (muitos, mesmo muitos
defeitos) – tinha em sua volta uma certa aura. Era uma 10/10, afinal. Que importava se não ia
ver jogo. DEZ… DEZ! Era uma carta a ter! Hoje, esta tudo menos brilhante criatura ainda ocupa
um modesto, mas especial, lugar na minha colecção. É tão provável sair de lá como sair da
minha memória.
<p></p>
Em igual nível de nostalgia, lembrar-se-ão também de como era difícil arranjar cartas,
uma vez que não havia a hipótese de as comprar online (a Internet era um mito) e as lojas de
especialidade não abundavam. Mesmo assim, ou por assim ser, trocar tinha um gosto especial.
Era assim que se trocava um Shivan Dragon por um Undiscovered Paradise, um Nevinyrral’s
Disk por um Karma, 30 cartas sem qualquer valor (monetário ou de jogo) por um Land Tax.
Bons tempos. Mesmo quando éramos nós a receber as tais 30.
<p></p>
Havia também pequenos clubes ou sítios onde podíamos jogar e conviver, mas eram
poucos e frequentemente tinham o tempo contado – talvez por também haver apenas um
grupo restrito de pessoas a jogá-lo. Esta última sempre foi uma das características que mais
me puxou ao encontro de Magic. Não era um jogo elitista, mas não era para todos. Era preciso
tempo, vontade, um compromisso.
<p></p>
Hoje em dia, o jogo já foi amplamente divulgado e tornou-se, indubitavelmente, mais
conhecido. Mas mesmo com todas as reinvenções e camadas de tinta que levou ao longo dos
anos, nunca deu o passo que o levaria, definitivamente, ao mainstream. Estar neste nicho
tornava-o mais digno, mais exclusivo, mais precioso. Era preciso empenho e ir à procura. Não
foi como a faixa extraordinária que descobrimos e que passamos a odiar quando a rádio se
apropria dela e a dá de comer às massas. Magic foi a música que não ganhou suficiente tempo
de antena. E é assim que gosto dele.
<p></p>
Claro que, como muitos aficionados e pelos mais diversos motivos (e completamente
alheio ao afecto que tenho pelo jogo), houve tempos em que deixei de jogar. Mas as cartas
<p></p>
ficam guardadas, à espera, e se for estimulado, o desassossego volta. Quando damos por nós,
passaram-se 20 anos e continuamos agarrados. Tiramos sete cartas e tudo se encaixa, tudo
vai ao lugar. Não precisamos de explicações, de reler manuais ou de tempo de adaptação. É
instintivo. Tudo porque, contra muitas das probabilidades, mantivemos viva uma parte de
quem fomos quando éramos uma versão mais nova, mais despreocupada e mais feliz de nós
mesmos. Magic lembra-me isso.
<p></p>
Para mim, verificar que ainda estou aqui, a escrever o que de mais perto se
assemelhará a um tributo, revela a importância que eu, e certamente muitos mais, dão a estas
cartas. Jogadores da velha e da nova escola. Pessoas que, apesar do preço dos baralhos e dos
boosters, os compraram. Que apesar da interiorização de um sem número de regras e de
habilidades complexas, as aprenderam e lentamente as decoraram, até se tornarem peritas
em atribuição de dano e condições de vitória. Que apesar da eterna e esmagadora tendência
para que o fascínio se perca, como em tantas coisas do nosso passado se perdeu, continuam a
ter prazer em jogar, em partilhar bons momentos com os amigos ou com quem calhe, em ter o
desafio de construir novos decks. Isto sim, é importante ver, importante perceber. Não será
preciso pensar muito para reconhecer que estes simples pedaços de cartão colorido com
bonecos, aparentemente tão memoráveis como qualquer outra moda passageira,
sobreviveram até hoje por um motivo: porque preencheram um espaço na nossa vida que
outras coisas tentaram – mas não conseguiram – ocupar.
<p></p>
Não quero elevar o jogo a uma posição quase divina. Não quero pô-lo num pedestal
e dizer que a minha vida sem ele não era nada ou quase nada seria. Não considero Magic um
estilo de vida, mais do que um jogo, ou a melhor coisa que já me aconteceu. Mas por tudo
o que Magic não é, há uma coisa que nunca deixou de ser: uma inestimável parte de nós. A
parte da saudade, da imaginação e de futuras e incontáveis possibilidades.
<p></p>
E é isso que faz com que tudo valha a pena.
								<p></p>
													</h4>
			  
			  
			  
			  
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->







</div>

{% endblock %}	

	