{% extends "main_base.html" %}


{% block javascript %}

//Validates an email	
function validate_email(email) {
 
   var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
   if(reg.test(email) == false) {
      return false;
   }
   return true;
}


function ValidateMailAndSend() {

	var email = document.getElementById("email").value;	
	
	if (email == ""){
		$('#wrong_email').html("Campo obrigat&oacute;rio.");
		return;
	}
	
	if (!validate_email(email)){
		$('#wrong_email').html("O email est&aacute; incorrecto.");
		return;
	}

	
	$.post("/recover_password_reset",
	{ email: email},
	function(data) {
	
		//Sucesso
		if (data == "Success"){
			window.location = "password_recovery_success";
			return;
		}
		
		//Erro
			$('#erros_server').html(data);
		
		});


}






{% endblock %}


{% block body %}

 <div class="span8">
 
	<h2>
	
		
		Indique o seu e-mail e a sua nova password ser&aacute; enviada por mail.
		
	</h2>

	<div>	
		E-Mail: <input class="input-large search-query" id="email" type="email" maxlength="70"> <span id="erros_server" class="label label-important"></span>
	</div>
	<p></p>
		<button onclick="ValidateMailAndSend()" class="btn btn-primary">Submeter</button>
 
 
</div>

{% endblock %}